<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">

  <title>Frontend Mentor | Profile card component</title>

  <!-- External CSS -->
  <link rel="stylesheet" href="./css/styles.css">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">

  <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
  <style>
    .attribution {
      font-size: 11px;
      text-align: center;
      position: absolute;
      left: 50%;
      bottom: 1.5rem;
      transform: translateX(-50%);
      line-height: 2;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }
  </style>
</head>

<body>
  <section class="container">
    <div class="card">
      <div class="bg-image">
        <img src="./images/image-victor.jpg" alt="Victor Crest">
      </div>
      <div class="content">
        <div class="heading">
          <h2>Victor Crest</h2>
          <span>26</span>
          <p>London</p>
        </div>

        <div class="stats">
          <div class="stat">
            <h2>80K</h2>
            <span>Followers</span>
          </div>
          <div class="stat">
            <h2>803K</h2>
            <span>Likes</span>
          </div>
          <div class="stat">
            <h2>1.4K</h2>
            <span>Photos</span>
          </div>
        </div>
      </div>
    </div>
    <div class="attribution">
      Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
      Coded by <a href="https://www.frontendmentor.io/profile/aminbabu">Amin Babu</a>.
    </div>
  </section>
</body>

</html>
