<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">

  <title>Frontend Mentor | FAQ Accordion Card</title>

  <!-- Google Fotns -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">

  <!-- External CSS -->
  <link rel="stylesheet" href="./css/styles.css">

</head>

<body>
  <section id="faq">
    <div class="faq-card">
      <div class="faq-image">
        <img class="📦" src="./images/illustration-box-desktop.svg" alt="3D box">

        <img class="mobile-illustration" src="./images/illustration-woman-online-mobile.svg" alt="">
      </div>

      <div class="faq-contents">
        <h2 class="secondary-header">faq</h2>
        <div class="accordion">
          <button class="tab">How many team members can I invite? <img class="arrow-image" src="./images/icon-arrow-down.svg" alt="Down arrow"></button>
          <p class="tab-content">You can invite up to 2 additional users on the Free plan. There is no limit on
            team members for the Premium plan.</p>
        </div>

        <div class="accordion">
          <button class="tab">What is the maximum file upload size? <img class="arrow-image" src="./images/icon-arrow-down.svg" alt="Down arrow"></button>
          <p class="tab-content">No more than 2GB. All files in your account must fit your allotted storage space.</p>
        </div>

        <div class="accordion">
          <button class="tab">How do I reset my password? <img class="arrow-image" src="./images/icon-arrow-down.svg" alt="Down arrow"></button>
          <p class="tab-content">Click “Forgot password” from the login page or “Change password” from your profile page.
            A reset link will be emailed to you.
          </p>
        </div>

        <div class="accordion">
          <button class="tab">Can I cancel my subscription? <img class="arrow-image" src="./images/icon-arrow-down.svg" alt="Down arrow"></button>
          <p class="tab-content">Yes! Send us a message and we’ll process your request no questions asked.</p>
        </div>

        <div class="accordion">
          <button class="tab">Do you provide additional support? <img class="arrow-image" src="./images/icon-arrow-down.svg" alt="Down arrow"></button>
          <p class="tab-content">Chat and email support is available 24/7. Phone lines are open during normal business hours.</p>
        </div>
      </div>
    </div>
  </section>

  <script src="./js/scripts.js">

  </script>
</body>

</html>
