// Colors
$primary: hsl(171, 66%, 44%);
$secondary: hsl(233, 100%, 69%);
$heading: hsl(210, 10%, 33%);
$text: hsl(201, 11%, 66%);
$footerBackground: hsl(201, 11%, 96%);
$white: hsl(0, 0%, 100%);

// Button border colors
$btnPrimaryBorder: hsl(171, 66%, 39%);
$btnSecondaryBorder: hsl(233, 100%, 64%);

// Button box-shadow colors
$btnPrimaryShadow: hsla(171, 100%, 87%, 0.36);
$btnSecondaryShadow: hsla(233, 100%, 64%, 0.36);

// Actice state colors
$activePrimaryState: hsl(171, 66%, 47%);
$activeSecondaryState: hsl(233, 100%, 72%);

// Typography
$fontFamily: "Bai Jamjuree", sans-serif;
$primayFontSize: 20px;
$seondaryFontSize: 19px;
$generalFontSize: 18px;
$mobileFontSize: 16px;
