<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />

    <title>Frontend Mentor | Intro component with sign up form</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Custom Style Sheets -->
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <header>
      <div class="intro-component">
        <div class="intro-content col-6">
          <h2 class="intro-heading">Learn to code by watching others</h2>
          <p class="intro-text">
            See how experienced developers solve problems in real-time. Watching
            scripted tutorials is great, but understanding how developers think
            is invaluable.
          </p>
        </div>
        <div class="col-6">
          <div class="trail-btn">
            Try it free 7 days <span>then $20/mo. thereafter</span>
          </div>

          <form class="form-controls" name="newsletterForm">
            <div class="form-group">
              <div class="input-group">
                <input
                  class="input-feild"
                  type="text"
                  name="firstName"
                  placeholder="First Name"
                  required
                />
                <img
                  class="error-icon"
                  src="./images/icon-error.svg"
                  alt="Error Icon"
                />
                <p class="error-alert">First Name cannot be empty</p>
              </div>

              <div class="input-group">
                <input
                  class="input-feild"
                  type="text"
                  name="lastName"
                  placeholder="Last Name"
                  required
                />
                <img
                  class="error-icon"
                  src="./images/icon-error.svg"
                  alt="Error Icon"
                />
                <p class="error-alert">Last Name cannot be empty</p>
              </div>

              <div class="input-group">
                <input
                  class="input-feild"
                  type="email"
                  name="emailAddress"
                  placeholder="Email Address"
                  required
                />
                <img
                  class="error-icon"
                  src="./images/icon-error.svg"
                  alt="Error Icon"
                />
                <p class="error-alert">Looks like this is not an email</p>
              </div>

              <div class="input-group">
                <input
                  class="input-feild"
                  type="password"
                  name="password"
                  placeholder="Password"
                  required
                />
                <img
                  class="error-icon"
                  src="./images/icon-error.svg"
                  alt="Error Icon"
                />
                <p class="error-alert">Password cannot be empty</p>
              </div>

              <button class="submit-button" type="submit">
                claim your free trial
              </button>
            </div>

            <p class="form-text">
              By clicking the button, you are agreeing to our
              <a href="#">Terms and Services</a>
            </p>
          </form>
        </div>
      </div>
    </header>

    <!-- Custom JavaScript Sheets -->
    <script src="./js/scripts.js"></script>
  </body>
</html>
