:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
  --white: hsl(0, 0%, 100%);
  font-size: 62.5%;
  font-family: 'Karla', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.4rem;
  background-color: var(--light-gray, hsl(204, 43%, 93%));
}

h3 {
  color: var(--white, hsl(0, 0%, 100%));
  margin-bottom: 1.6rem;
  font-size: 1.8rem;
}

p {
  line-height: 1.8;
  margin-bottom: 1rem;
  color: var(--white, hsl(0, 0%, 100%));
}

.container {
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.4rem 1rem 0 rgba(0, 0, 0, 0.13);
  margin: 6rem auto;
  width: 82%;
  transition: all 0.4s ease;
}

.community {
  background-color: var(--white, hsl(0, 0%, 100%));
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 2.5rem 2rem 2rem;
}

.community h3 {
  color: var(--cyan, hsl(179, 62%, 43%));
  font-size: 2.5rem;
}

.community p:nth-child(2) {
  color: var(--bright-yellow, hsl(71, 73%, 54%));
  font-size: 1.6rem;
  font-weight: 700;
}

.community p:nth-of-type(2) {
  color: var(--grayish-blue, hsl(218, 22%, 67%));
}

.subscription {
  padding: 2.5rem 2rem 2rem;
  background-color: var(--cyan, hsl(179, 62%, 43%));
}

.subscription span {
  color: var(--light-gray, hsl(204, 43%, 93%));
  display: inline-block;
  font-size: 3rem;
  font-weight: 700;
  margin-right: 0.5rem;
}

.subscription p:nth-child(2) {
  color: var(--light-gray, hsl(204, 43%, 93%));
}

.subscription p:nth-of-type(2) {
  letter-spacing: 0.1rem;
}

.subscription a {
  background-color: var(--bright-yellow, hsl(71, 73%, 54%));
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.4rem 1rem 0 rgba(0, 0, 0, 0.19);
  color: var(--white, hsl(0, 0, 100%));
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto;
  padding: 1.5rem 0;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
}

.description {
  background-color: hsl(179, 62%, 45%);
  padding: 2.5rem 2rem 2rem;
}

.description p {
  color: var(--light-gray, hsl(204, 43%, 93%));
  padding-right: 3rem;
  text-transform: capitalize;
}

@media only screen and (min-width: 576px) {
  body {
    font-size: 1.6rem;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    width: 56rem;
  }

  .community {
    flex-basis: 100%;
    padding: 3rem;
  }

  .subscription,
  .description {
    flex-basis: 50%;
    padding: 3rem;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 65rem;
  }

  .community p:nth-child(3) {
    padding-right: 3rem;
  }

  .subscription a {
    border: 0.2rem solid transparent;
    transition: all 0.3s ease;
  }

  .subscription a:hover {
    background-color: transparent;
    color: var(--bright-yellow);
    border: 0.2rem solid var(--bright-yellow);
  }
}
